.footer-container{
  height: 15rem;
  margin-top: 80px;
  border: 2px solid black;
  display: flex;
  gap: 15rem;
  
}


.social{
  display: flex;
  gap: 20px;

}

.text{
  width: 275px;
}


.logo-footer{
  margin-left: 4rem;
  margin-top: 4rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
}
