.footer-container{
  height: 10rem;
  margin-top: 80px;
  border-top: 1px solid rgb(46, 45, 45);
  display: flex;
  gap: 6rem;
  width: 100%;
  
}


.social{
  display: flex;
  gap: 20px;
  font-size: 30px;
  

}

.text{
  width: 350px;
}


.logo-footer{
  margin-left: 4rem;
  font-size: 30px;
  text-decoration: none;
  color:rgba(189, 129, 129, 0.667);
}

.logo-footer:hover{
  color:rgb(46, 45, 45);
}

.icon-footer{
  color:rgba(189, 129, 129, 0.667) ;
}

.icon-footer:hover{
  color:rgb(46, 45, 45);
}