.img-add{
    width: 700px;
    height: auto;
    margin-top: 160px;
    box-shadow:  0 3px 3px rgba(0,0,0,.2);
    object-fit: cover;
    margin-left: 100px;
    
}

.title-add{
    margin: 200px;
}

.product-add{
   text-align: center;
   display: flex;
   
}

.desc-add{
    width: 400px;
    margin: 300px auto 0 -400px;

}


.btn-add{
    margin: 570px 250px 0 -500px;
    width: 250px;
    height: auto;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border: none;
    background-color: coral;
    
}


